# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Database
*.db
*.sqlite
*.sqlite3
server/database/migrations/

# Archives NF525 (données sensibles)
data/
archives/

# Clés de certification INFOCERT (SENSIBLE!)
*.pem
*.key
infocert/

# Notes
notes/
